section.contact {
    margin-top: 10vh;
    height: var(--header-height);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact .email{
    letter-spacing: -0.01em;
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: italic;
}