.gallery.title {
    color: var(--red-first);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-weight: 300;
    font-size: 2.2em;
    padding: max(30vh, 100px) 0;
}

.gallery.title>span {
    padding-left: 10px;
    border: 2px solid var(--red-first);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section.gallery {
    scroll-margin-top: calc(var(--header-height) + max(30vh, 100px) + 2.2em + 20px);
    display: grid;
    width: 100%;
    padding: 0 2.5vw;
    grid-template-columns: repeat(10, calc(95vw / 10 - 1vw));
    grid-auto-rows: calc(95vw / 10 - 1vw);
    grid-gap: 1vw;
    /*justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-evenly;*/
}

.picture-container {
    overflow: hidden;
    position: relative;
}

.gallery .picture {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all .5s ease-in-out, opacity 2s ease-in-out;
}

.picture:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: grayscale(1);
}

.picture-container:hover::before,
.picture-container:hover::after {
    font-family: 'Times New Roman', Times, serif;
    pointer-events: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    z-index: 9;
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: min(2em, 2.5vw);
    font-weight: bold;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    overflow-wrap: break-word;
}

.picture-container:hover::before {
    content: attr(data-titolo);
    top: 33%;
}

.picture-container:hover::after {
    content: attr(data-dimensioni);
    top: 66%;
}

.appear .picture,
.gallery.title>span.appear {
    opacity: 1;
}