@media all and (max-width: 800px) {
  header .lang-container {
    color: white;
    cursor: pointer;
    font-size: 0.5em;
    padding-right: 20px;
  }

  .intro-page > section {
    display: inline-flex;
    width: 100%;
    height: 100%;
  }

  .intro__info {
    position: absolute;
    inset: 0;
    z-index: 9;
    color: black;
    display: flex;
    align-items: center;

    overflow: hidden;
  }

  .intro__info > p {
    font-size: 1.3em;
    font-weight: 500;
    color: whitesmoke;

    display: inline-flex;
    opacity: 0;
    animation: scrollText 120s 6s infinite linear, appear 3s 3s forwards;
    transform: none;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes scrollText {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-110%);
    }
  }

  @-webkit-keyframes scrollText {
    0% {
      transform: translateY(0);
    }
    2% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-110%);
    }
  }

  .intro__picture-container {
    animation: darken 2s 2s forwards;
  }

  @keyframes darken {
    0% {
      filter: brightness(1);
    }
    100% {
      filter: brightness(0.3);
    }
  }

  @-webkit-keyframes darken {
    0% {
      filter: brightness(1);
    }
    100% {
      filter: brightness(0.15);
    }
  }

  .picture-modal {
    flex-direction: column;
    transition: all 0.5s ease-in;
  }

  .picture-modal__info {
    margin: 2.5%;
  }

  .picture-container:hover::before,
  .picture-container:hover::after {
    display: none;
  }

  .picture-modal__info > p {
    font-size: 1em;
  }

  section.contact {
    margin-top: 10vh;
  }

  section.gallery {
    scroll-margin-top: calc(
      var(--header-height) + max(30vh, 100px) + 2.2em + 20px
    );
    display: grid;
    width: 100%;
    padding: 0 2.5vw;
    grid-template-columns: repeat(10, calc(95vw / 10 - 1vw));
    grid-auto-rows: calc(95vw / 10 - 1vw);
    grid-gap: 1vw;
    /*justify-items: stretch;
        align-items: stretch;
        justify-content: space-evenly;
        align-content: space-evenly;*/
  }

  section.gallery {
    grid-template-areas:
      "two two two two two two two two two two"
      "two two two two two two two two two two"
      "two two two two two two two two two two"
      ". . . . . . . . . ."
      ". one one one one one . . . ."
      ". one one one one one . . . ."
      ". one one one one one . . . ."
      ". one one one one one . . . ."
      ". one one one one one . . . ."
      ". . . . . . . . . ."
      ". . .four four four four four . ."
      ". . .four four four four four . ."
      ". . .four four four four four . ."
      ". . .four four four four four . ."
      ". . .four four four four four . ."
      ". . . . . . . . . ."
      ". three three three three three three three three ."
      ". three three three three three three three three ."
      ". three three three three three three three three ."
      ". three three three three three three three three ."
      ". three three three three three three three three ."
      ". three three three three three three three three ."
      ". three three three three three three three three ."
      ". three three three three three three three three ."
      ". . . . . . . . . ."
      ". . . . . . . six six ."
      ". . . . . . . six six ."
      ". five five five five five . six six ."
      ". five five five five five . six six ."
      ". five five five five five . six six ."
      ". five five five five five . six six ."
      ". five five five five five . six six ."
      ". . . . . . . six six ."
      ". . . . . . . six six .";
  }

  .gallery.title {
    padding: max(20vh, 100px) 0;
  }

  .picture:hover {
    transform: scale(1);
    filter: grayscale(0);
  }
}
