@media all and (max-width:600px) {
    .intro-page>section {
        display: inline-flex;
        width: 100%;
        height: 100%;
    }

    .intro__info {
        position: absolute;
        inset: 0;
        z-index: 9;
        color: black;
        display: flex;
        align-items: center;
    }

    .intro__info>p {
        font-size: 1.3em;
        font-weight: 500;
        text-shadow: 1px 1px 2px white;
    }

    .picture-modal {
        flex-direction: column;
        transition: all .5s ease-in;
    }

    .picture-modal__info {
        margin: 2.5%;
    }

    .picture-container:hover::before,
    .picture-container:hover::after {
        display: none;
    }


    .picture-modal__info>p {
        font-size: 1em;
    }

    section.contact {
        margin-top: 10vh;
    }

    section.gallery {
        grid-template-areas:

            "two two two two two two two two two two"
            "two two two two two two two two two two"
            "two two two two two two two two two two"
            ". . . . . . . . . ."

            ". one one one one one . . . ."
            ". one one one one one . . . ."
            ". one one one one one . . . ."
            ". one one one one one . . . ."
            ". one one one one one . . . ."

            ". . . . . . . . . ."

            ". . .three three three three three . ."
            ". . .three three three three three . ."
            ". . .three three three three three . ."
            ". . .three three three three three . ."
            ". . .three three three three three . ."

            ". . . . . . . . . ."

            ". . . . . five five five . ."
            ". four four four . five five five . ."
            ". four four four . five five five . ."
            ". four four four . . . . . ."

            ". . . . . . . six six ."
            ". . . . . . . six six ."
            ". . . . . . . six six ."
            "seven seven seven seven seven  seven . six six ."
            "seven seven seven seven seven  seven . six six ."
            ". . . . . . . six six ."
            ". . . . . . . six six ."
            ". . . . . . . six six ."
            ". . . . . . . six six ."

    }

    .gallery.title {
        padding: max(20vh, 100px) 0;
    }


    .picture:hover {
        transform: scale(1);
        filter: grayscale(0);
    }
}